@import url('./reset.css');

:root {
  --body-bg-color: #f2f4f6;
  --input-button-bg-color: #01e98a;
  --input-text-bg-color: #d0d2d4;
}

/* HTML */
body {
  background-color: var(--body-bg-color);
}

/* class */
.alarm {
  font-size: 25px;
}

.center {
  display: grid;
  height: 100vh;
  place-content: center;
  place-items: center;
}

.clock {
  font-size: 120px;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.flex {
  display: flex;
}

.output {
  font-size: 20px;
  height: 30px;
  margin-top: 20px;
}

/* main */
main input {
  border-radius: 30px;
  font-size: 0px;
  margin-top: 20px;
  padding: 15px 10px;
}

main input + input {
  margin-left: 20px;
}

main input[type=text] {
  background-color: var(--input-text-bg-color);
}

main input[type=button] {
  background-color: var(--input-button-bg-color);
}

main input[type=text], main input[type=button] {
  font-size: 20px;
  text-align: center;
}